* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

:root {
    --azul: #194E91;
    --cinza-borda: #CCCCCC;
    --cinza-letra: #717171;
    --azul-footer-linha: #194E91;
    --filtro-preto: rgba(0, 0, 0, 0.5);
    --border-bottom: #BABABA;
}

.filtro-preto {
    width: 100vw;
    height: 100vh;
    background-color: var(--filtro-preto);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 17px;
}

.card-editar-informacoes {
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.titulo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-bottom: 1px solid var(--border-bottom);
}

.titulo-card h2 {
    font-size: 16px;
    font-weight: 600;
}

.card-input {
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-bottom: 1px solid var(--border-bottom);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}

.card-input p {
    font-size: 14px;
    font-weight: 600;
}

.card-input h5 {
    font-size: 14px;
    font-weight: 400;    
}

.card-input input {
    width: 100%;
    border: none;
}

.card-select {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid var(--border-bottom);
}

.card-select p {
    font-size: 14px;
    font-weight: 600;
}

.card-select select {
    width: 100%;
    padding: 4px 8px 4px 0px;
    text-indent: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../img/icon-seta-select.svg') no-repeat right 8px center;
    background-size: 15px;
    border: none;
}
.botao-confirmar{
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao-confirmar button{
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: var(--azul);
}