:root {
    --azul: #194E91;
    --cinza-borda: #E0E0E0;
    --cinza-letra: #717171;
    --azul-footer-linha: #194E91;
    --fundo-card: #fff;
    --preto: #000;
    --filtrp-preto: rgba(0, 0, 0, 0.5);
}