.info-item + hr {
    border: none;
    border-top: 1px solid #BABABA;
  }
  
  .label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .valor {
    font-size: 0.95rem;
    color: var(--preto);
  }
  