:root {
    --azul: #194E91;
    --azul-footer-linha: #194E91;
    --vermelho: #FF0000;
    --cinza-borda: #E0E0E0;
    --cinza-letra: #717171;
    --cinza-claro: #F5F5F5;
    --fundo-card: #ffffff;
    --texto-principal: #000000;
    --texto-secundario: #666666;
}

.page-conta-usuario {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding-top: 160px; /* Espaço para o header fixo */
    padding-bottom: 64px; /* Espaço para o footer fixo */
}

.conteudo-principal {
    flex: 1;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: center;
}
