.div_busca {
    position: relative;
    width: 100%;
  }

.div_busca input {
    width: 100%;
    height: 44px;
    border-radius: 12px;    
    border: 1px solid rgba(189, 189, 189, 1);
    padding: 0 16px 0 44px;
    font-size: 1rem;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background-image: url('../../assets/icons/icone-lupa.svg');
    background-repeat: no-repeat;
    background-position: 14px center;
    background-size: 18px 18px;
  }

  .div_busca input::placeholder {
    color: rgba(189, 189, 189, 1);
  }
  
  .icone-lupa {
    display: none;
  }