body {
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    margin-top: 89px;
    text-align: center;
}

.logo {
    width: 180px;
    height: 170px;
    margin: 0 auto 20px;
    background-color: transparent;
}

.login-container h1 {
    font-size: 1.4rem;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bold;
    text-align: left;
}