* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 180px;
    height: 170px;
    margin: 0 auto 20px;
    background-color: transparent;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bold;
    text-align: left;
}

form {
    text-align: left;
}

label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 5px;
    color: #333;
    padding-left: 2px; 
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 10px 2px; 
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 0.95rem;
    transition: border-color 0.3s;
}

input:focus {
    border-bottom: 1px solid #194E91;
}


button {
    margin-top: 30px;
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, #194E91, #123F79);
    background-size: 200% auto; 
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-position 0.4s ease, transform 0.2s ease;
}

button:hover {
    background-position: right center;
    transform: scale(1.02); 
}

