.card {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04),
                0px 8px 16px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card h2 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 4px;
}

.card h2 + hr {
    margin-top: 2px; 
}

.card hr {
    border: none;
    border-top: 1px solid #BABABA;
    width: calc(100% + 32px); 
    margin-left: -16px;      
    margin-right: -16px;     
    margin-top: 0;
    margin-bottom: 0;
}

.label {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 9px;
    margin-top: 9px;
}

.label-produto {
    font-weight: 700;
    font-size: 14px;
}

.valor {
    font-size: 0.95rem;
    color: var(--cinza-letra);
    border: none;
    width: 100%;
    background: #fff;
    outline: none;
    padding: 8px 0;
}

.info-item + hr {
    border: none;
    border-top: 1px solid #BABABA;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    padding-right: 32px;
    color: var(--cinza-letra);
}

.select-wrapper .seta {
    position: absolute;
    right: 8px;
    top: 60%;
    transform: translateY(-50%);
    pointer-events: none;
}